.container{


    background-color: #F9E57C;

    height: 100px;

    color: #D78287;


    display: flex;

    align-items: center;

    justify-content: space-between;

    
}

.logo{

    margin-left: 100px;
}

.user{

    margin-right: 100px;
}